fastapi
uvicorn
python-dotenv
requests
SpeechRecognition
gTTS

pydub
colorama
openai
# pyaudio and pygame removed as they are for local voice loop only
streamlit
edge-tts
streamlit-mic-recorder
nest_asyncio
PyPDF2
